.plugContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25vh;
}

.plug {
  padding: 50px;
  background: white;
  font-size: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 30%);
  text-align: center;
}
