
.uploader {
  width: 300px;
  height: 300px;
  position: fixed;
  background-color: white;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  overflow-y: auto;
  box-shadow: 0 2px 8px rgb(0 0 0 / 30%);
}

.uploader_header {
  display: flex;
  justify-content: space-between;
  background:#c51010;
  margin: 0 0 10px 0;
  height: 50px;
  padding: 10px;
}

.uploader_title {
  color: #E9E6E6;
  font-size: 1.3rem;
  font-weight: 400;

}

.uploader_close {
  padding: 3px;
}

.upload-file {
  border-radius: 10px;
  margin: 5px 0;
  padding: 5px 10px;
}

.upload-file_header {
  display: flex;
  justify-content: space-between;
}

.upload-file_progress-bar {
  height: 25px;
  border-radius: 10px;
  display: flex;
  margin: 3px 0;
}

.upload-file_upload-bar {
  background-color: green;
  border-radius: 10px;
}

.upload-file_percent {
  color: #E9E6E6;
  position: absolute;
  left: 50%;
}
