.file {
  margin: 10px 0;
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr);
  align-items: center;
  padding: 10px;
}

.file:hover {
  transform: scale(1.02);
  transition: 0.3s;
  background: rgb(245, 244, 244);
  border-radius: 10px;
}

.file_img {
  justify-self: center;
}

.file_date {
  grid-column-start: 5;
  justify-self: center;
}

.file_size {
  grid-column-start: 6;
  justify-self: center;
}

.file_btn {
  display: none;
  border-radius: 10px;
}

.file:hover .file_date {
  grid-column-start: 3;
}

.file:hover .file_size {
  grid-column-start: 4;
}

.file:hover .file_download {
  grid-column-start: 5;
  display: block;
}

.file:hover .file_delete {
  grid-column-start: 6;
  margin-left: 5px;
  display: block;
}

.file-plate {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

.file-plate:hover {
  transform: scale(1.02);
  transition: 0.3s;
  background: rgb(245, 244, 244);
  border-radius: 10px;
}

.file-plate_img {
  width: 100px;
  height: 100px;
}

.file-plate_name {
  margin-bottom: 10px;
}

.file-plate_btns {
  visibility: hidden;
}

.file-plate:hover .file-plate_btns {
  visibility: visible;
}

.file-plate-btn_download ,
.file-plate-btn_delete {
  width: 32px;
  height: 32px;
  border: none;
  outline: none;
  cursor: pointer;
  background: no-repeat center center;
  background-size: contain;
  margin: 0 10px;
}

.file-plate-btn_download {
  background-image: url('../../../../assets/img/download.png');
}

.file-plate-btn_delete {
  background-image: url('../../../../assets/img/x-button.png');
}
