@import '../../../../utils/colors.css';

.file {
  margin: 10px 0;
  border-bottom: solid 2px #566885;
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr);
  align-items: center;
}

.file:hover {
  transform: scale(1.02);
}

.file_img {
  justify-self: center;
}

.file_date {
  grid-column-start: 5;
  justify-self: center;
}

.file_size {
  grid-column-start: 6;
  justify-self: center;
}

.file_btn {
  display: none;
}

.file:hover .file_date {
  grid-column-start: 3;
}

.file:hover .file_size {
  grid-column-start: 4;
}

.file:hover .file_download {
  grid-column-start: 5;
  display: block;
}

.file:hover .file_delete {
  grid-column-start: 6;
  display: block;
}


.file-plate {
  width: 150px;
  height: 150px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
}

.file-plate_img {
  width: 100px;
  height: 100px;
}

.file-plate_btns {
  display: none;
}

.file-plate:hover .file-plate_btns {
  display: flex;
}

