.filelist {
  margin: 20px 0;
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 30%);
}

.filelist_header {
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr);
}

.filelist_name {
  grid-column-start: 2;
}

.filelist_date {
  grid-column-start: 5;
  justify-self: center;
}

.filelist_size {
  grid-column-start: 6;
  justify-self: center;
}


.fileplate {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  background: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 30%);
}

.file-enter-active {
  animation: file-enter 500ms forwards;
}

@keyframes file-enter {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
