@import '../../utils/colors.css';

.authorization {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  align-self: center;
  margin-top: 100px;
}

.authorization_header {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 40px;
  }
  
.btn{
  border-radius: 10px;
}

