
.disk {
  margin-top: 20px;
}

.disk_btns {
  display: flex;
  align-items: center;
}

.disk_create {
  margin-left: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 30%);
}

.disk_back {
  border-radius: 10px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 30%);
}

.disk_upload-input {
  display: none;
}

.disk_upload-label {
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 30px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  background: white;
  box-shadow: 0 2px 8px rgb(0 0 0 / 30%);
}

.disk_select {
  margin-left: auto;
  width: auto;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 30%);
}

.disk_list,
.disk_plate {
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  background: no-repeat center center;
  background-size: contain;
  margin: 0 10px;
}

.disk_list {
  background-image: url('../../assets/img/list.svg');
}

.disk_plate {
  background-image: url('../../assets/img/plate.svg');
}


.drop-area {
  width: 100%;
  height: calc(100vh - 50px -40px);
  margin: 20px;
  border: dashed #c51010 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background: white;
  border-radius: 10px;
}

.popup {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_content {
  width: 400px;
  background: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.popup_create {
  align-self: flex-end;
  border-radius: 10px;
}

.popup_header {
  display: flex;
  justify-content: space-between;
}

.popup input {
  margin: 20px 0px;
}


.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #c51010;
  border-color: #c51010 transparent #c51010 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) and (max-width: 1400px) {
  .disk_btns {
    flex-direction: column;
    align-items: baseline;
  }
  .disk_create,
  .disk_list,
  .disk_plate,
  .disk_back {
    margin: 5px;
  }
  .disk_upload-label {
    margin: 5px;
    width: auto;
  }
  .disk_select {
    width: auto;
    margin: 5px;
  }
}

@media screen and (max-width: 767px) {
  .disk_btns {
    flex-direction: column;
    align-items: baseline;
  }
  .disk_create,
  .disk_list,
  .disk_plate,
  .disk_back {
    margin: 5px;
  }
  .disk_upload-label {
    margin: 5px;
    width: auto;
  }
  .disk_select {
    width: auto;
    margin: 5px;
  }
}
