@import '../../utils/colors.css';

.navbar {
  display: flex;
  justify-content: center;
  height: 8vh;
  background-color: white;
  width: 100%;
}

.navbar_header {
  margin-left: 10px;
  font-size: 30px;
  font-weight: 700;
  color: #c51010;
}

.navbar_login {
  margin-left: auto;
  margin-right: 30px;
  font-size: 20px;
  cursor: pointer;
}

.navbar_registration {
  font-size: 20px;
  cursor: pointer;
}

.navbar_search {
  width: 300px;
  margin-left: auto;
}

.navbar_avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.container {
  width: 1140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
